<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="ACME_Banking_System-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/db</jta-data-source>
    <class>model.Account</class>
    <class>model.CreditCardAccount</class>
    <class>model.CreditCardTransaction</class>
    <class>model.Customer</class>
    <class>model.HomeLoanAccount</class>
    <class>model.SavingsAccount</class>
    <class>model.CreditChangeRequest</class>
    <class>model.Employee</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>
    </properties>
  </persistence-unit>
</persistence>
